/* Chemistry Theme */

body {
    background-image: url("../images/chemistry-background.jpg")
}

h1 {
    color: blue;
    text-align: center;
    /* font-family: 'Viga', sans-serif; */
    font-size: 40px;
    padding: 5px;
    /* background: whitesmoke; */
}

p, h3 {
    color: gray;
    font-size: 26px;
    text-align: center;
    /* font-family: 'Viga', sans-serif; */
}

.container {
    background: whitesmoke;
    padding: 15px;
    margin-left: 350px;
    margin-right: 350px;
    border: 2px solid black;
    font-family: 'Viga', sans-serif;
}