/* Chemistry Theme */

body {
    background-image: url("../images/chemistry-background.jpg")
}

/* .navbar { 
    background: #436DC1;
    font-family: 'Viga', sans-serif;
    text-align: center;
    color: white;
} */

h1 {
    color: blue;
    text-align: center;
    font-size: 40px;
    padding: 5px;
}

p, h3 {
    color: gray;
    font-size: 26px;
    text-align: center;
}

#image, .btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.container {
    background: whitesmoke;
    width: 50%;
    margin: 0 auto;
    border: 2px solid black;
    font-family: 'Viga', sans-serif;
}

@media screen and (max-width: 980px) {

    #image, .container {
      width: 50%;
      margin: 0 auto;
    }

  }
  
  @media screen and (max-width: 768px) {
  
  
    #image, .container {
      width: 50%;
      margin: 0 auto;
    }
  }
  
  @media screen and (max-width: 640px) {
    #image, .container {
      width: 80%;
      text-align: center;
      margin: 0 auto;
    }
  
  
  }